/* app css stylesheet */

body {
    font-family: "Lekton";
}

.block {
    display: block;
}
.dispnone {
    display: none;
}

.dispnoneimp {
    display: none !important;
}

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 4242;
    background: white;
}

.menu .logo {
    position: absolute;
    left: 0;
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/img/background_low.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 4244;
    background-size: cover;
}

.menu.minimized .logo.outatime {
    background: url(/img/outatime.gif);
    background-size: cover;
    background-position: 50%;
}
.menu .logo.outatime *{
    display: none;
}

.menu img {
    position: relative;
    display: block;
    height: auto;
    width: 30vw;
    margin-top: calc(40vh - (30vw * (16/100)) / 2);
    margin-left: auto;
    margin-right: auto;
}

.menu #thebutton {
    width: 180px;
    line-height: 40px;
    margin-top: 25px;
}

.btn-outline-primary {
    position: relative;
    display: inline-block;
    color: #2c7bff;
    background-color: transparent;
    background-image: none;
    border-color: #2c7bff;
    border-width: 2px;
    font-family: "FabrikatBold";
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s ease;
}

.btn-primary {
    position: relative;
    display: inline-block;
    color: white;
    background-color: #2c7bff;
    background-image: none;
    border-color: #2c7bff;
    border-width: 2px;
    font-family: "FabrikatBold";
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s ease;
}

.btn-outline-primary:hover {
    color: #FF00AE;
    background-color: transparent;
    background-image: none;
    border-color: #FF00AE;
}

.btn-primary:hover {
    background-color: #FF00AE;
    background-image: none;
    border-color: #FF00AE;
}

.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color:  #FF00AE;
    border-color: #FF00AE;
    transition: 0.1s ease;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color:  #b8007d;
    border-color: #b8007d;
    transition: 0.1s ease;
}

.menu a:not(.dropdown-item) {
    opacity: 0;
    pointer-events: none;
    z-index: 4243;
    max-height: 100%;
    padding: 0px 35px;
    text-align: center;
    position: relative;
    display: inline-block;
    height: 69px;
    font-family: "FabrikatMedium";
    line-height: 70px;
    color: #000;
    background: white;
    transition: 0.5s;
}

.menu a.active {
    background: #E5F2F2;
}

.menu a:nth-child(2) {
    margin-left: 216px;
}

.menu a:hover, .menu a:active {
    background: #e5f2f2;
}


.menu .dropdown {
    display: none;
    position: absolute;
    right: 20px;
    top: 17px;
    font-size: 45px;
    vertical-align: middle;
    line-height: 0px;
    color: black;
}

.dropdown-toggle::after {
    display: none;
}

.menu .btn-secondary:not([disabled]):not(.disabled).active, .menu .btn-secondary:not([disabled]):not(.disabled):active, .show>.menu .btn-secondary.dropdown-toggle {
    border: none;
    color: black;
    box-shadow: none;
    background: #E5F2F2;
}


.menu .dropdown .btn {
    vertical-align: middle;
    padding: 10px 15px;
    background-color: white;
    color: black;
    line-height: 15px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}

.menu .dropdown-menu {
    border-radius: 0px;
    z-index: 4245;
}

.menu a.dropdown-item {
    width: 190px;
    line-height: 25px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: black;
    margin: 0px;
}

.menu.minimized {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gainsboro;
    transition: 0.7s;
}

.menu.minimized .logo {
    width: 216px;
    height: calc(100% + 1px);
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("/img/background_low.jpg");
    transition: height 0.7s 0s, width 0.7s 0.7s, background 0.7s;
}


.menu.minimized img {
    margin-top: 0px;
    width: 120px;
    height: 70px;
    transition: 0.7s;
}

.menu.minimized #thebutton {
    opacity: 0;
    pointer-events: none;
}

.menu.minimized a {
    opacity: 1;
    pointer-events: auto;
}

.main {
    padding-top: 100px;
}

.row {
    padding: 8px 20px;
}

.future-row {
    display: inline;
}

.row.form-inline {
    border-bottom: 1px solid grey;
}

.form-inline input {
    border: none !important;
    border-bottom: 1px solid #ececec !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.form-inline #datetimepicker1 {
    width: 150px;
    margin: 0px 20px;
    display: inline-flex;
    vertical-align: bottom;
}

.form-inline #places{

    width: 90px;
}

.form-inline .btn-group.first .btn {
    margin-right: -1px;
}

.row.form-inline .btn {
    height: 36px;
    border-width: 1px;
    width: 45px;
}

.form-inline .btn-group, .form-inline.block #selecttri {
    float: right;
}
.form-inline #selecttri {
    width: 110px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ececec;
    box-shadow: none;
    margin-left: auto;
    font-family: "FabrikatMedium";
}

.searchopener {
    position: absolute;
    display: none;
    top: 40px;
    right: 24px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    z-index: 5;
    padding: 7px;
    border: 1px solid gainsboro;
    text-align: center;
    border-top: 0px;
}

.searchopener .fa-times {
    display: none;
}

.rooms {
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
}

.empty {
    padding: 20px;
}

.room {
    color: white;
    font-family: "FabrikatBold";
    background: url(/img/room_low.jpg);
    background-size: contain;
    cursor: pointer;
    padding: 0;
    margin: 1.666667% 1.666667%;
    transition: color 0.3s;
}



.room:before{
    display:block;
    position: relative;
    content:" ";
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    padding-top: 100%;
    transition: 0.3s;
}

.room:hover {
    color: #000;
    transition: color 0.3s;
}

.room:hover:before {
    background: rgba(229, 242, 242, 0.9);
    transition: 0.3s;

}

.room div, .room p {
    position: absolute;
    text-align: center;
}

.room .name {
    top: 40%;
    width: 100%;
    font-size: 20px;
    padding: 0 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: top 0.3s;
}

.room .description {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    font-family: "FabrikatLight";
    top: 30%;
    font-size: 12px;
    padding: 0 10%;
    text-align: left;
    max-height: 90px;
    overflow: hidden;
    overflow-wrap: normal;
    transition: opacity 0.2s;
}

.room:hover .name {
    top: 10%;
    transition: top 0.3s;
}

.room:hover .description {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s 0.3s;
}

.room .places {
    left: 10px;
    font-size: 12px;
    bottom: 10px;
    margin-bottom: 0px;
}

.room .places .fa {
    font-size: 10px;
}

.room .equipements {
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-size: 12px;
}

.equipements i {
    margin: 0px 1px;
}

.fa-Retro:before {
    content: "\f03d";
}

.fa-TV:before {
    content: "\f26c";
}


.modal {
    margin: 0 auto;
}

.modal-dialog {
    top: 15%;
}

.modal-content {
    border-radius: 0px;
    border: none;
    font-family: "FabrikatMedium";
    opacity: 0;
    z-index: 3;
    position: absolute;
    transition: 0.3s;
    left: 0;
    right: 0;
    pointer-events: none;
    touch-action: none;
}

.modal-content.selected {
    opacity: 1;
    z-index: 4;
    pointer-events: auto;
    touch-action: auto;
    transition: 0.3s 0.3s;
}

.modal-header {
    text-align: center;
    align-items: center;
    display: inline-block;
    border: none;
    color: white;
    background-color: #60697F;
    border-radius: 0px;
    width: 100%;
}

.modal-body {
    border: none;
    max-height: 39vh;
    min-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lekton";
}

.content-form .modal-body {
    min-height: auto;
    max-height: none;
    overflow: visible;
}

.content-form .form-row {
    padding: 10px 0px;
}

.modal-footer {
    border: none;
    padding: 0px 10px 15px;
    display: block;
    text-align: center;
}

.modal-footer .btn {
   width: 110px;
}

.more-infos {
    padding: 10px 15px;
}

.more-infos .places {
    float: left;
}

.more-infos .equipements {
    float: right;
 }

.bootstrap-datetimepicker-widget a {
    color: #2c7bff;
}
.modal-footer #datetimepicker1 {
    margin-top: 2px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 198px;
}

.bootstrap-datetimepicker-widget table td {
    cursor: pointer;
}


.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    color: #9da6ad;
}


.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #f1f1f1;
}

.message {
    display: block;
    position: fixed;
    background: white;
    border: 2px solid pink;
    bottom: -70px;
    right: 20px;
    text-overflow: ellipsis;
    font-family: "Lekton";
    padding: 20px 30px;
    line-height: 14px;
    max-width: calc(100% - 40px);
    pointer-events: none;
    opacity: 0;
    color: white;

}

.message.success, .message.error {
    bottom: 20px;
    pointer-events: auto;
    opacity: 1;
    transition: bottom 0.5s, opacity 0.5s;
}

.message.success {
    border: 2px solid #00E666;
    color: #00E666;
}

.message.error {
    border: 2px solid #FF005A;
    color: #FF005A;

}

.message.above {
    bottom: 72px;
    opacity: 0;
    transition: bottom 0.5s, border 0.5s 0s, opacity 0.5s, color 0.5s 0s;
}



/*

.modal-body .date {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;

    opacity: 0;
    pointer-events: none;
}*/

@media screen and (max-width: 1200px) {
    .room .description {
        max-height: 70px;
    }
}
@media screen and (max-width: 992px) {
    .room {
        margin: 4.15%;
    }
    .room .description {
        max-height: 90px;
    }
}
@media screen and (max-width: 960px) {

}


@media screen and (max-width: 768px) {

    .room .description {
        max-height: 110px;
    }
}
@media screen and (max-width: 720px) {

}

@media screen and (max-width: 590px) {
    .form-control {
        display: inline-block;
    }

    .menu .dropdown {
        display: inline-block;
    }

    .menu a:not(.dropdown-item) {
        display: none;
    }
    .room .description {
        max-height: 17.5vw;
    }

    .content-form .col-12 {
        padding: 5px 0px;
    }

}
@media screen and (max-width: 540px) {
    .form-inline #datetimepicker1 {
        margin: 0px;
    }
    #search {
        min-width: 35%;
    }
    .form-inline #places, .form-inline #datetimepicker1 {
        float: right;
    }
    .form-inline.block #selecttri {
        float: left;
    }
    .future-row {
        display: inline-block;
        width: 100%;
        margin: 5px 0px 0px;
    }
    .row.form-inline .btn {
        margin-bottom: 0px
    }
    .row.form-inline {
        padding: 0px 20px;
    }
    .main {
        padding-top: 80px;
    }


}
@media screen and (max-width: 425px) {
    .main {
        padding: 0px;
        padding-top: 80px;
    }
    .rooms {
      padding: 8px 0px;
    }
    .room {
        margin: 2.525% 4.15%;
        max-width: 43.75%;
        flex: 100%;
    }

    .room:nth-child(2n + 1) {
        margin-left: 0px;
    }

    .room .description {
        max-height: 17.5vw;
    }
}
@media screen and (max-width: 355px) {

    #search {
        min-width: 110px !important;
    }
}



@media screen and (max-height: 675px) {

    .form-control {
        display: inline-block;
    }

    .menu .dropdown {
        display: inline-block;
    }

    .menu a:not(.dropdown-item) {
        display: none;
    }
    .room .description {
        max-height: 17.5vw;
    }

    .content-form .col-12 {
        padding: 5px 0px;
    }

    .form-inline #datetimepicker1 {
        margin: 0px;
    }
    #search {
        min-width: 35%;
    }
    .form-inline #places, .form-inline #datetimepicker1 {
        float: right;
    }
    .form-inline.block #selecttri {
        float: left;
    }
    .future-row {
        display: inline-block;
        width: 100%;
        margin: 5px 0px 0px;
    }
    .row.form-inline .btn {
        margin-bottom: 0px
    }
    .row.form-inline {
        padding: 0px 20px;
    }
    .main {
        padding-top: 80px;
    }

    .menu.minimized {
        height: 40px;
    }

    .menu.minimized .logo {
        width: 110px;
    }

    .menu.minimized img {
        width: 50px;
        height: 40px;
    }

    .menu .dropdown {
        top: 1px;
    }

    .menu .dropdown .btn {
        vertical-align: top;
    }

    .main {
        padding: 0px;
        padding-top: 80px;
    }
    .rooms {
        padding: 8px 0px;
    }
    .room {
        margin: 2.525% 4.15%;
        max-width: 43.75%;
        flex: 100%;
    }

    .room:nth-child(2n + 1) {
        margin-left: 0px;
    }

    .room .description {
        max-height: 17.5vw;
    }

    .main {
        padding-top: 39px;
    }

    .row.form-inline {
        margin-top: -93px;
        transition: 0.3s;
    }
    #search {
        min-width: 110px !important;
    }
    .rooms {
        max-height: calc(100vh - 40px);
        transition: 0.3s;
    }

    .searchopener {
        display: block;
        transition: 0.3s;
    }

    .row.form-inline.opened {
        height: 95px;
        margin-top: 0px;
    }

    .rooms.opened {
        max-height: calc(100vh - 134px);
    }

    .rooms.opened .searchopener {
        top: 134px;
        transition: 0.3s;
    }

    .rooms.opened .searchopener .fa-search {
        display: none;
    }

    .rooms.opened .searchopener .fa-times {
        display: inline-block;
    }
}
