/* app css stylesheet */

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/img/background.jpg");
}

.menu img {
    position: relative;
    display: block;
    height: auto;
    width: 30vw;
    margin-top: calc(40vh - (30vw * (16/100)) / 2);
    margin-left: auto;
    margin-right: auto;
}

.menu .btn {
    width: 180px;
    line-height: 40px;
    margin-top: 25px;
}

.btn-outline-primary {
    position: relative;
    display: inline-block;
    color: #2c7bff;
    background-color: transparent;
    background-image: none;
    border-color: #2c7bff;
    border-width: 2px;
    font-family: "FabrikatBold";
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s ease;
}

.btn-outline-primary:hover {
    color: #FF00AE;
    background-color: transparent;
    background-image: none;
    border-color: #FF00AE;
}

.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color:  #FF00AE;
    border-color: #FF00AE;
    transition: 0.1s ease;
}

.menu button {

}

.menu li {
    display: none;
}