/* app css stylesheet */

body {
    font-family: "LektonRegular";
}

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 2;
    background: white;
}

.menu .logo {
    position: absolute;
    left: 0;
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/img/background_low.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 4;
}

.menu img {
    position: relative;
    display: block;
    height: auto;
    width: 30vw;
    margin-top: calc(40vh - (30vw * (16/100)) / 2);
    margin-left: auto;
    margin-right: auto;
}

.menu .btn {
    width: 180px;
    line-height: 40px;
    margin-top: 25px;
}

.btn-outline-primary {
    position: relative;
    display: inline-block;
    color: #2c7bff;
    background-color: transparent;
    background-image: none;
    border-color: #2c7bff;
    border-width: 2px;
    font-family: "FabrikatBold";
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s ease;
}

.btn-outline-primary:hover {
    color: #FF00AE;
    background-color: transparent;
    background-image: none;
    border-color: #FF00AE;
}

.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color:  #FF00AE;
    border-color: #FF00AE;
    transition: 0.1s ease;
}

.menu a {
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    padding: 0px 35px;
    text-align: center;
    position: relative;
    display: inline-block;
    height: 69px;
    font-family: "FabrikatMedium";
    line-height: 70px;
    color: #000;
    background: white;
    transition: 0.5s;
}

.menu a:nth-child(2) {
    margin-left: 216px;
}

.menu a:hover, .menu a:active {
    background: #e5f2f2;
}

.menu.minimized {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gainsboro;
    transition: 0.7s;
}

.menu.minimized .logo {
    width: 216px;
    height: calc(100% + 1px);
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("/img/background_low.jpg");
    transition: height 0.7s 0s, width 0.7s 0.7s, background 0.7s;
}


.menu.minimized img {
    margin-top: 0px;
    width: 120px;
    height: 70px;
    transition: 0.7s;
}

.menu.minimized .btn {
    opacity: 0;
    pointer-events: none;
}

.menu.minimized a {
    opacity: 1;
    pointer-events: auto;
}

.main {
    padding-top: 100px;
}

.row {
    padding: 8px 20px;
}

.form-inline {
    border-bottom: 1px solid grey;
    display: block;
}

.form-inline input {
    border: none !important;
    border-bottom: 1px solid #ececec !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.form-inline .btn-group.first .btn {
    margin-right: -1px;
}

.form-inline .btn {
    height: 36px;
    border-width: 1px;
    width: 45px;
}

.form-inline .btn-group {
    float: right;
}

.room {
    color: white;
    font-family: "FabrikatBold";
    background: url(/img/room_low.jpg);
    background-size: contain;
    transition: 0.5s;
    cursor: pointer;
}



.room:before{
    display:block;
    position: relative;
    content:" ";
    background: rgba(0, 0, 0, 0.85);
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-top: calc(100% + 30px);
    transition: 0.3s;
}

.room:hover {
    color: #000;
}

.room:hover:before {
    background: rgba(229, 242, 242, 0.85);

}

.room div, .room p {
    position: absolute;
    text-align: center;
}

.room .name {
    top: 30%;
    width: calc(100% - 30px);
    font-size: 20px;
}

.room .places {
    left: 10px;
    font-size: 12px;
    bottom: 10px;
    margin-bottom: 0px;
}

.room .places .fa {
    font-size: 10px;
}

.room .equipements {
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-size: 12px;
}

.equipements i {
    margin: 0px 1px;
}

.fa-Retro:before {
    content: "\f03d";
}

.fa-TV:before {
    content: "\f26c";
}

