/* app css stylesheet */

body {
    font-family: "Lekton";
}

.block {
    display: block;
}

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 2;
    background: white;
}

.menu .logo {
    position: absolute;
    left: 0;
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/img/background_low.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 4;
}

.menu img {
    position: relative;
    display: block;
    height: auto;
    width: 30vw;
    margin-top: calc(40vh - (30vw * (16/100)) / 2);
    margin-left: auto;
    margin-right: auto;
}

.menu .btn {
    width: 180px;
    line-height: 40px;
    margin-top: 25px;
}

.btn-outline-primary {
    position: relative;
    display: inline-block;
    color: #2c7bff;
    background-color: transparent;
    background-image: none;
    border-color: #2c7bff;
    border-width: 2px;
    font-family: "FabrikatBold";
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s ease;
}

.btn-primary {
    position: relative;
    display: inline-block;
    color: white;
    background-color: #2c7bff;
    background-image: none;
    border-color: #2c7bff;
    border-width: 2px;
    font-family: "FabrikatBold";
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s ease;
}

.btn-outline-primary:hover {
    color: #FF00AE;
    background-color: transparent;
    background-image: none;
    border-color: #FF00AE;
}

.btn-primary:hover {
    background-color: #FF00AE;
    background-image: none;
    border-color: #FF00AE;
}

.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color:  #FF00AE;
    border-color: #FF00AE;
    transition: 0.1s ease;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color:  #b8007d;
    border-color: #b8007d;
    transition: 0.1s ease;
}

.menu a {
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    padding: 0px 35px;
    text-align: center;
    position: relative;
    display: inline-block;
    height: 69px;
    font-family: "FabrikatMedium";
    line-height: 70px;
    color: #000;
    background: white;
    transition: 0.5s;
}

.menu a:nth-child(2) {
    margin-left: 216px;
}

.menu a:hover, .menu a:active {
    background: #e5f2f2;
}

.menu.minimized {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gainsboro;
    transition: 0.7s;
}

.menu.minimized .logo {
    width: 216px;
    height: calc(100% + 1px);
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("/img/background_low.jpg");
    transition: height 0.7s 0s, width 0.7s 0.7s, background 0.7s;
}


.menu.minimized img {
    margin-top: 0px;
    width: 120px;
    height: 70px;
    transition: 0.7s;
}

.menu.minimized .btn {
    opacity: 0;
    pointer-events: none;
}

.menu.minimized a {
    opacity: 1;
    pointer-events: auto;
}

.main {
    padding-top: 100px;
}

.row {
    padding: 8px 20px;
}

.row.form-inline {
    border-bottom: 1px solid grey;
}

.form-inline input {
    border: none !important;
    border-bottom: 1px solid #ececec !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.form-inline .btn-group.first .btn {
    margin-right: -1px;
}

.row.form-inline .btn {
    height: 36px;
    border-width: 1px;
    width: 45px;
}

.form-inline .btn-group {
    float: right;
}

.empty {
    padding: 20px;
}

.room {
    color: white;
    font-family: "FabrikatBold";
    background: url(/img/room_low.jpg);
    background-size: contain;
    transition: 0.3s;
    cursor: pointer;
    padding: 0;
    margin: 1.666667% 1.666667%;
}



.room:before{
    display:block;
    position: relative;
    content:" ";
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    padding-top: 100%;
    transition: 0.3s;
}

.room:hover {
    color: #000;
    transition: 0.3s;
}

.room:hover:before {
    background: rgba(229, 242, 242, 0.9);
    transition: 0.3s;

}

.room div, .room p {
    position: absolute;
    text-align: center;
}

.room .name {
    top: 40%;
    width: 100%;
    font-size: 20px;
    padding: 0 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: top 0.3s;
}

.room .description {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    font-family: "FabrikatLight";
    top: 30%;
    font-size: 12px;
    padding: 0 10%;
    text-align: left;
    max-height: 90px;
    overflow: hidden;
    overflow-wrap: normal;
    transition: opacity 0.2s;
}

.room:hover .name {
    top: 10%;
    transition: top 0.3s;
}

.room:hover .description {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s 0.3s;
}

.room .places {
    left: 10px;
    font-size: 12px;
    bottom: 10px;
    margin-bottom: 0px;
}

.room .places .fa {
    font-size: 10px;
}

.room .equipements {
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-size: 12px;
}

.equipements i {
    margin: 0px 1px;
}

.fa-Retro:before {
    content: "\f03d";
}

.fa-TV:before {
    content: "\f26c";
}


.modal {
    top: 10%;
    margin: 0 auto;
}

.modal-content {
    border-radius: 0px;
    border: none;
    font-family: "FabrikatMedium";
}

.modal-header {
    text-align: center;
    align-items: center;
    display: inline-block;
    border: none;
    color: white;
    background-color: #60697F;
    border-radius: 0px;
}

.modal-body {
    border: none;
    max-height: 39vh;
    min-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lekton";
}

.modal-footer {
    border: none;
    padding: 0px 10px 15px;
    display: block;
    text-align: center;
}

.modal-footer .btn {
/*   width: 110px;*/
}

.more-infos {
    padding: 10px 15px;
}

.more-infos .places {
    float: left;
}

.more-infos .equipements {
    float: right;
 }

.bootstrap-datetimepicker-widget a {
    color: #2c7bff;
}
.modal-footer #datetimepicker1 {
    margin-top: 2px;
}

.message {
    display: block;
    position: fixed;
    background: white;
    border: 2px solid pink;
    bottom: -70px;
    right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
    font-family: "Lekton";
    padding: 20px 30px;
    line-height: 14px;
    height: 57px;
    pointer-events: none;
    opacity: 0;
    color: white;

}

.message.success, .message.error {
    bottom: 20px;
    pointer-events: auto;
    opacity: 1;
    transition: bottom 0.5s, opacity 0.5s;
}

.message.success {
    border: 2px solid #00E666;
    color: #00E666;
}

.message.error {
    border: 2px solid #FF005A;
    color: #FF005A;

}

.message.above {
    bottom: 72px;
    opacity: 0;
    transition: bottom 0.5s, border 0.5s 0s, opacity 0.5s, color 0.5s 0s;
}

/*

.modal-body .date {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;

    opacity: 0;
    pointer-events: none;
}*/
