<div class="container">
    <form class="row form-inline">
            <label for="search" class="sr-only">Recherche</label>
            <input id="search" type="text" ng-model="search" class="form-control col-2" placeholder="Rechercher" >
            <label for="places" class="sr-only">Recherche</label>
            <input id="places" type="number" ng-model="places" class="form-control col-1" placeholder="Places" ng-keypress="clear(places)">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-outline-primary" ng-model="tv"  ng-click="checkbox('tv')">
                <input type="checkbox" checked autocomplete="off">
                <i class="fa fa-television" aria-hidden="true"></i>
            </label>
        </div>
            <div class="btn-group first" data-toggle="buttons">
            <label class="btn btn-outline-primary"  ng-model="proj" ng-click="checkbox('proj')">
                <input type="checkbox" autocomplete="off">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </label>
        </div>

    </form>
    <div class="rooms row justify-content-left">
        <div class="room col-2" ng-repeat="room in rooms | filter : greaterThan('capacity', places) | filter  :{'name': search} | filter: equfilter()" class="col-md-6" data-toggle="modal" data-target="#exampleModal" ng-click="modalInit($index)">
            <p class="name">{{room.name}}</p>
            <p class="description">{{room.description}}</p>

            <p class="places">{{room.capacity}} <i class="fa fa-users" aria-hidden="true"></i></p>

            <div class="equipements">
            <i ng-repeat="equipement in room.equipements" class="equipement fa fa-{{equipement.name}}">
            </i>
            </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{selected.name}}</h5>
                </div>
                <div class="modal-body">
                    <div>{{selected.description}}</div>

                </div>
                <div class="modal-footer more-infos">
                    <div class="places">{{selected.capacity}} <i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="equipements">
                    <i ng-repeat="sequipement in selected.equipements" class="equipement fa fa-{{sequipement.name}}"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <form class="form-inline justify-content-center align-items-center">

                        <div class="input-group date col-7" id="datetimepicker1" data-target-input="nearest">
                            <input id="date" type="text" class="form-control datetimepicker-input" ng-model="datepicker"  data-target="#datetimepicker1"/>
                            <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    <button type="button" class="btn btn-primary" ng-click="submitBooking()">Reserver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message">
    {{message}}
</div>